<div class="add-task-div">
    <div class="overlay">

        <div class="modal">
            <form class="modal-form" #taskForm="ngForm">
                <div class="task-div"> 
                    <label for="task" class="task-label">Task:</label>
                <input type="text" placeholder="eg. Wash the dishes" name="task" [(ngModel)]="taskTitle"required/>
                </div>
                <div class="due-div">
                    <label for="due" class="due-label">Due Date:</label>
                    <input type="date" placeholder="Task Name" name="due" id="due" [(ngModel)]="taskDueDate"/>
                </div>
             <div class="select-div">
              <label for="priority" class="priority-label">Priority:</label>
               <select required [(ngModel)]="taskPriority" name="priority" id="priority">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
             </div>   
            </form>
            <div class="modal-buttons">
                <button class="add-button" (click)="editTask()" type="submit">Save Changes</button>
                <button class="cancel-button" (click)="onClose()">Cancel</button>
            </div>
        </div>
    </div>
</div>