:root {
    --header-font: "Chewy", system-ui;
    --body-font: "Zalando Sans", sans-serif;
    --main-blue-color: #EEFEFC;
    --main-pink-color: #FFBDBD;
    --dark-pink-color: #FFA4A4;
    --add-button-color: #D6FFDB;
    --remove-button-color: #FFC2B5;
}

body{
    background-color: rgb(0, 140, 255);
    font-family: Arial, sans-serif;
    
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.form-container{
    width: 800px;
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}

 .BLUE-INPUT{
    background-color: var(--main-blue-color);
    height: 50px;
    
}

 

.form-container [type="text"]{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 6px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container .pink-input{
    background-color: var(--main-pink-color);
    border: none;
    height: 50px;
    margin-bottom: 10px;
}


.buttons{
    display: flex;
    justify-content: flex-end;
    
}

.buttons .add{
    background-color: var(--add-button-color);
    border-width: 0;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.buttons .cancel{
    background-color: var(--remove-button-color);
    border-width: 0;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.add-list-button{
    background-color: var(--add-button-color);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}
