<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <form class="form-container" [formGroup]="taskForm">
        <h1>LIST NAME</h1>
        <input type="text" class="BLUE-INPUT" placeholder="Name" formControlName="listName">
        <input type="text" class="BLUE-INPUT" placeholder="Catagory" formControlName="category">
        
        <div class="buttons">
            <button class="add"  (click)="onSubmit()">Add</button>
            <button class="cancel" routerLink="/home" (click)="onCancel()">cancel</button>
        </div>
    </form>
</div>

