root {
    --header-font: "Chewy", system-ui;
    --body-font: "Zalando Sans", sans-serif;
    --main-blue-color: #EEFEFC;
    --main-pink-color: #FFBDBD;
    --dark-pink-color: #FFA4A4;
    --add-button-color: #D6FFDB;
    --remove-button-color: #FFC2B5;

}

.lists-container {
    margin-left: 500px; 
    padding: 20px;
}

.lists-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.list-box {
    background-color: #ffcccc; 
    padding: 130px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
    max-width: 330px;
}

.list-box:hover {
    background-color: #ffc0cb; 
    transform: scale(1.05); /* slight zoom effect on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* subtle shadow on hover */
}

.list-box {
    text-align: center;
}


.list-info h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 25px;
}

.list-info ul {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.list-info li {
    font-size: 14px;
}

.add-icon {
    width: 50px;
    height: 50px; 
    cursor: pointer;
}

h2 {
    font-size: 40px;  
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 20px;
}
