<div class="list-container">
    <h2>Lists</h2>
    <div class="lists-grid">
        <div class="list-box" *ngFor="let box of boxes; let i = index" (click)="navigateToDetail(i)">
            <div class="list-info">
            <h1>{{box.name}}</h1>
            <ul>
                <li *ngFor="let task of box.tasks">{{task.title}}</li>
            </ul>
            <a *ngIf="box.showPlus" [routerLink]="['/add-list']">
                <img src="assets/material-symbols_add.svg" alt="Add" class="add-icon">
            </a>
            </div>
        </div>
    </div>
</div>
