<!-- navbar -->
<header class="navbar">

    <div class="left">
        <h2>Home</h2>
    </div>
    <div class="right">
        <a routerLink="/register" class="navLink">Register</a>
        <a routerLink="/login" class="navLink">Login</a>
    </div>
</header>

<!-- image -->
    <div class="image">
    <img src="../../../assets/landing-picture.jpg" width="500px" height="400px">
    </div>

    <!-- text -->
    <div class="text">
    <h4>FocusFlow is a simple to-do list app</h4>
    <h4>that will help you manage your time</h4>

    <!-- button -->
    <button class="get-started-btn" routerLink="/login">Get Started</button>
</div>

