:root {
    --header-font: "Chewy", system-ui;
    --body-font: "Zalando Sans", sans-serif;
    --main-blue-color: #EEFEFC;
    --main-pink-color: #FFBDBD;
    --dark-pink-color: #FFA4A4;
    --add-button-color: #D6FFDB;
    --remove-button-color: #FFC2B5;
    --box-shadow-color: rgba(0,0,0,0.1);
}

.overlay {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; 
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  height: 500px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.modal-form div {
  display: flex;
  flex-direction: column;
}

.modal-form * {
    margin-bottom: 15px;
}

input, select {
    height: 50px;
    font-family: var(--body-font);
    font-size: 1rem;
    padding: 10px;
    background-color: var(--main-blue-color);
    border-style: none;
    color: #00000042;
}

input::placeholder {
    color: #00000042;
}
label {
    font-family: var(--body-font);
    font-size: 1.3rem;
}

.modal-buttons {
   display: flex;
   justify-content: flex-end;
   gap: 20px;
}

button {
    font-family: var(--body-font);
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px var(--box-shadow-color);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.add-button {
    background-color: var(--add-button-color);
}
.add-button:hover {
    background-color: var(--dark-pink-color);
    box-shadow: 0 6px 8px var(--box-shadow-color);
}   

.cancel-button {
    background-color: var(--remove-button-color);
}
.cancel-button:hover {
    background-color: var(--main-pink-color);
    box-shadow: 0 6px 8px var(--box-shadow-color);
}