<div class="add-task-div">
    <div class="overlay">

        <div class="modal">
            <form class="modal-form">
                <div class="task-div"> 
                    <label for="task" class="task-label">Task:</label>
                <input type="text" placeholder="eg. Wash the dishes" name="task" />
                </div>
                <div class="due-div">
                    <label for="due" class="due-label">Due Date:</label>
                    <input type="date" placeholder="Task Name" name="due" />
                </div>
             <div class="select-div">
              <label for="priority" class="priority-label">Priority:</label>
               <select>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
             </div>   
            </form>
            <div class="modal-buttons">
                <button class="add-button">Add</button>
                <button class="cancel-button">Cancel</button>
            </div>
        </div>
    </div>
</div>