
<div class="Sidebar">
    <div class="top-sidebar">
    <h3 routerLink="/home"><span class="menu-icon">☰</span> Lists</h3>
    <ul>
        <li (click)="filter(null)" [class.active]="!currentFilter">All Lists</li>
        <li *ngFor="let category of categories | async" (click)="filter(category)" [class.active]="(currentFilter | async) === category">{{category | titlecase}}</li>
        
    </ul>
</div>
    <div class="bottom-section">
         <h5 (click)="toggleTheme()" class="dark-mode">
            <img src="assets/line-md_moon-filled.svg" alt="Moon Icon" class="moon-icon">
            Dark mode
        </h5>
        <br>
        <h5 (click)="logout()" class="sign-out">
            <img src="assets/uil_signout.svg" alt="Sign Out Icon" class="signout-icon">
            Sign Out
        </h5>
    </div>
</div>
