
.Sidebar {
    width: 300px; 
    height: 95vh;
    background-color: #EEFEFC;
    padding: 20px;
    border-radius: 20px; /* curved corners */
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); /* soft shadow */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px; /* spacing from edges */
    position: relative; 
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease; 
}

ul {
    list-style: disc;   /* bullet points */
    padding-left: 20px; /* space from left edge */
    margin-top: 50px;
}

li {
    margin: 8px 0; 
    font-size: 1rem;
}

h3 {
    font-size: 1.8rem;
}