<div class="list-main">
    <div class="list-div-main-header">
        <h1 class="list-header">{{listName}}</h1>
    </div>
   
    <div class="add-task-div">
        <button class="add-task-button" (click)="addTask()">Add New Task</button>
    </div>
<!-- Div for everything in the list-->
    <div class="task-div" *ngIf="tasks.length > 0; else noTasks">
        
        <!-- Div for each task-->
        <div class="task" *ngFor="let task of tasks; let i = index;"> 
            <div class="task-header-div">
                <h1 class="task-header">{{task.name}}</h1>
            </div>
            <div class="task-settings">
            <img src="../../../assets/flowbite_edit-solid.svg" class="edit-button" (click)="editTask(task.id)">
            <img src="../../../assets/material-symbols_delete.svg" class="delete-button" (click)="deleteTask(task.id)">
            </div> 
        </div>

    </div>
     <app-add-task *ngIf="showModal" [isVisible]="showModal" (close)="onClose()" [editTaskId]="selectedTaskId" [addTaskArr]="addTaskArr"></app-add-task>
 

    <ng-template #noTasks>
        <p class="no-tasks-message">No tasks available. Please add a task.</p>
    </ng-template>
</div>
