<div class="list-main">
    <div class="list-div-main-header">
        <h1 class="list-header">List Name</h1>
    </div>
   
    <div class="add-task-div">
        <button class="add-task-button">Add New Task</button>
    </div>
<!-- Div for everything in the list-->
    <div class="task-div" *ngIf="items.length > 0; else noTasks">
        
        <!-- Div for each task-->
        <div class="task" *ngFor="let item of items; let i = index;"> 
            <div class="task-header-div">
                <h1 class="task-header">{{items[i]}}</h1>
            </div>
            <div class="task-settings">
            <img src="../../../assets/flowbite_edit-solid.svg" class="edit-button">
            <img src="../../../assets/material-symbols_delete.svg" class="delete-button">
            </div>
        </div>

    </div>

    <ng-template #noTasks>
        <p class="no-tasks-message">No tasks available. Please add a task.</p>
    </ng-template>
</div>
