:root {
    --header-font: "Chewy", system-ui;
    --body-font: "Zalando Sans", sans-serif;
    --main-blue-color: #EEFEFC;
    --main-pink-color: #FFBDBD;
    --dark-pink-color: #FFA4A4;
    --add-button-color: #D6FFDB;
    --remove-button-color: #FFC2B5;
}

.list-main {
    margin-left: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.task-div {
    margin-top: 50px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 950px;
    background-color: var(--main-pink-color);
    margin-bottom: 25px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.list-header {
    font-family: var(--body-font);
    font-size: 2.5rem;
}

.task-header {
    font-family: var(--body-font);
}
.edit-button, .delete-button {
    cursor: pointer;
}

.add-task-div{ 
    margin-top: 50px;
}

.add-task-button {
    width: 950px;
    background-color: var(--main-blue-color);
    border: none;
    height: 90px;
    font-family: var(--body-font);
    font-size: 1.5rem;
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.add-task-button:hover {
    background-color: var(--dark-pink-color);
}

.no-tasks-message {
    text-align: center;
    margin-top: 100px;
}